body {
    background: linear-gradient(rgb(50, 50, 50), rgb(20, 20, 20)) fixed;
    font: 14px arial, sans-serif;
    color: white;
}

.profile-header {
    background-image: url("../assets/header-image.jpg");
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 240px;
    
    border-bottom: 4px solid black;
}

.profile-header .profile {
    clear: center;
    width: 600px;
    height: 200px;
    padding: 20px;
    
    margin-left: auto;
    margin-right: auto;
    
    font: 14px verdana;
}

.profile-header .profile-summary {
    overflow: hidden;
    padding-left: 10px;
    text-align: justify;
}

#profile-image {
    float: left;
    width: 200px;
    height: 200px;
}

.profile-header .social {
    position: absolute;
    bottom: 6px;
    right: 10px;
}

.social-logo {
    width: 30px;
    height: 30px;
    
    border: 2px solid black;
    border-radius: 4px;
}

.below-header {
    position: absolute;
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    top: 275px;
    padding: 10px;
}

.plugin-separator {
    width: 0px;
    height: 20px;
}

.plugin-background {
    clear: left;
    background: rgb(70, 70, 70);
    border: 4px solid black;
    border-radius: 8px;
    
    height: 105px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px;
    border: 2.5px solid black;
}

.plugin-logo {
    float: left;
    border: 4px solid black;
    border-radius: 8px;
}

.plugin-summary {
    float: left;
    padding-left: 2%;
}

.plugin-title {
    font: 16px verdana;
    font-weight: bold;
}

.plugin-description {
    font: 14px verdana, sans-serif;
}